.number-pb {
  position: relative;
  height: 3px;
  background: none;
  margin:  0;
}

    .number-pb .number-pb-shown {
        position: absolute;
        background-color: #176785;
        background-image: linear-gradient(to right, #176785, #499989);
        top: -1px;
        left: 0;
        height: 10px !important;
        -moz-box-shadow: 0 0 3px 0 #499989;
        -webkit-box-shadow: 0 0 3px 0 #499989;
        box-shadow: 0 0 3px 0 #499989;
        border-bottom-right-radius: 100px !important;
        border-bottom-left-radius: 100px !important;
    }

.number-pb .number-pb-num {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: -0.45em;
  padding: 0 5px;
  min-width: 20px;
  display:none;
}

.number-pb-shown.dream {
    background-image: linear-gradient(to right, #0e153a, #1d2b64, #f8cdda);
    -moz-box-shadow: 0 0 3px 0 #f8cdda;
    -webkit-box-shadow: 0 0 3px 0 #f8cdda;
    box-shadow: 0 0 3px 0 #f8cdda;
    border-bottom-right-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}

.number-pb-shown.sun {
    background-image: linear-gradient(to right, #0f1b58, #e0a681, #e5e9bf);
    -moz-box-shadow: 0 0 3px 0 #e5e9bf;
    -webkit-box-shadow: 0 0 3px 0 #e5e9bf;
    box-shadow: 0 0 3px 0 #e5e9bf;
    border-bottom-right-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
}

#random {
   
    position: absolute;
    right: 0;
    bottom: 0;
    
}
